@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  background: red;
  padding: 100px;
  color: tan;
}

.big-shadow {
  @apply shadow-xl p-5 text-lg;
}

.thick-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.input-shadow {
  box-shadow: 0 0px 3px 6px rgba(156, 208, 255, 0.08);
  outline: none;
}

.input-shadow:focus {
  box-shadow: 0 0px 2px 4px rgba(156, 208, 255, 0.25);
  outline: none;
}

.surface-inner-shadow {
  box-shadow: inset -2px 4px 8px 0px rgba(0, 0, 0, 0.39);
}

.surface-inner-shadow-and-thick {
  box-shadow: inset -2px 4px 8px 0px rgba(0, 0, 0, 0.39),
    0 5px 5px rgba(0, 0, 0, 0.25);
}

.appear-later {
  opacity: 0;
  animation: appear 300ms ease-in-out 70ms;
  animation-fill-mode: forwards;
}

.output-shadow {
  box-shadow: inset 0px 0px 20px 0px rgba(15, 23, 42, 0.77),
    0 5px 5px rgba(0, 0, 0, 0.25);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.roll-animation {
  animation: roll 160ms ease-in-out 0ms;
  animation-fill-mode: forwards;
}

@keyframes roll {
  0% {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
  16% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(-5px, -5px) rotateY(30deg);
    opacity: 50%;
  }
  83% {
    transform: translate(8px, 8px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px, 0px);
  }
}

.sidebar {
  transition: all 170ms ease-in-out;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    max-height: 0;
  }

  .sidebar-open {
    max-height: 100% !important;
  }
}

@media (min-width: 768px) {
  .sidebar {
    max-height: 100% !important;
  }
}

.textdiv {
  @apply text-white text-lg;
}

.textdiv > b {
  @apply font-bold text-orange-200;
}

.textdiv > ul {
  @apply mt-4;
}

.textdiv > ul > li > b {
  @apply font-bold text-center text-orange-200 p-1 px-2 bg-slate-900 rounded-lg ml-2 mr-4 whitespace-nowrap;
}

.textdiv > ul > li {
  @apply py-2 flex items-center border-t;
}

.textdiv > h2 {
  @apply text-3xl font-bold text-sky-200 mt-5 mb-3;
}
