---
import HeadPanel from "../components/HeadPanel.astro";
import Example from "../components/react/Example";
import Layout from "../layouts/Layout.astro";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {} from "@fortawesome/free-solid-svg-icons";
import ExamplesSidebar from "../components/ExamplesSidebar.astro";
import LearnMoreHeader from "../components/LearnMoreHeader.astro";
import DistributionCalculatorWrapper from "../components/react/DistributionCalculatorWrapper";
---

<Layout title="Dice Calculator">
  <main>
    <HeadPanel />
    <div class="md:flex">
      <div class="mt-5">
        <ExamplesSidebar />
      </div>

      <div class="flex-grow mt-5">
        <div class="max-w-4xl p-3">
          <LearnMoreHeader />
          <div class="mt-5">
            <DistributionCalculatorWrapper client:only="react" />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
